* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  background: white !important;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 32px 0 !important;
  color: #16a085;
  font-size: 30px !important;
}

.delete-icon {
  margin-right: 5px;
  color: #e74c3c;
}

.edit-icon {
  color: #f1c40f;
}
